@import "../../../shared/colors.sass"
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap')

#card
    background: #fbfbfb
    border-radius: 8px
    box-shadow: 0px 0px 30px 20px #0000001a
    height: 280px
    margin: 6rem auto 8.1rem auto
    width: 100%

#card-content
    padding: 12px 44px
    width: 100%

#card-title
    padding-bottom: 23px
    padding-top: 13px
    text-align: center

#signup
    text-decoration: underline $black-font-color
    color: $black-font-color
    font-size: 14px
    margin-top: 16px
    text-align: center

#signup:hover
    color: $orange-color
    text-decoration: underline $orange-color

#submit-btn
    font-family: 'Poppins', sans-serif
    font-weight: 600
    font-size: 16px
    background: $orange-color
    border: none
    border-radius: 21px
    box-shadow: 0px 1px 8px $grey-color
    cursor: pointer
    color: $black-font-color
    height: 42.3px
    margin: 0 auto
    margin-top: 50px
    transition: 0.25s
    width: 153px

#submit-btn:hover
    color: #fbfbfb
    background: $orange-color
    box-shadow: 0px 1px 18px $orange-color

.token-key
    align-items: left
    display: flex
    flex-direction: column
    padding-top: 20px

.form-content
    background: #fbfbfb
    border: none
    outline: none
    height: 2rem

.form-border
    background: $grey-color
    height: 1px
    width: 100%

a
    padding-top: 8px
