<nav>
  <ul class="navbar">
    <li>
      <p class="navbar--title item">Price Comparator.</p>
    </li>
    <div class="navbar--responsive--menu">
      <button class="navbar--responsive--menu_button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="navbar--responsive--menu_icon">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a *ngIf="!this.userLogged" mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
        <a *ngIf="this.userLogged" mat-menu-item routerLink="/token">
          <span>Welcome {{this.userLogged.email}}</span>
        </a>
        <a *ngIf="this.userLogged" mat-menu-item routerLink="/token">
          <mat-icon>vpn_key</mat-icon>
          <span>API Token</span>
        </a>
        <a mat-menu-item href="home/#pricing">
          <mat-icon>attach_money</mat-icon>
          <span>Pricing</span>
        </a>
        <a mat-menu-item href="home/#contact">
          <mat-icon>call</mat-icon>
          <span>Contact</span>
        </a>
        <a mat-menu-item href="#">
          <mat-icon>menu_book</mat-icon>
          <span>Documentation</span>
        </a>
        <a *ngIf="this.userLogged" mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>
    </div>
    <ul class="navbar--sections item">
      <li><a class="navbar--sections_link" href="home/#pricing">Pricing</a></li>
      <li><a class="navbar--sections_link" href="/">Documentation</a></li>
      <li><a class="navbar--sections_link" href="home/#contact">Contact</a></li>
    </ul>
    <li><a *ngIf="!this.userLogged" class="navbar--login item" routerLink="/login">Login ></a></li>
    <li>
      <a *ngIf="this.userLogged" class="navbar--login item" [matMenuTriggerFor]="menuDesktop">Welcome</a>
      <mat-menu #menuDesktop="matMenu">
        <a *ngIf="!this.userLogged" mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
        <a *ngIf="this.userLogged" mat-menu-item routerLink="/token">
          <span>{{this.userLogged.email}}</span>
        </a>
        <a *ngIf="this.userLogged" mat-menu-item routerLink="/token">
          <mat-icon>vpn_key</mat-icon>
          <span>API Token</span>
        </a>
        <a *ngIf="this.userLogged" mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>
    </li>
  </ul>
</nav>
