@import "../../../shared/colors.sass"

.navbar
  width: 110%
  font-size: 1rem
  color: $white-color
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin: 0.5rem -2rem -6rem 1rem
  padding: 0.5rem 
  list-style-type: none
  background-color: transparent

.navbar--responsive--menu
  display: none
 
   

.navbar--title
  font-size: 2rem
  font-weight: bold
  line-height: 1.6rem
  color: $black-font-color
  cursor: pointer

.navbar--login
  color: $white-color
  border-radius: 21px
  padding: 0.5rem 4rem
  background: rgba(255, 255, 255, 0.2)
  backdrop-filter: blur(70px)

.navbar--sections
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  list-style-type: none
  gap: 4rem


.navbar--sections_link
  color: $white-color
  font-weight: bold
  margin: 0rem 0.5rem

@media screen and (max-width: 1160px)
  .navbar--sections
    display: none
  .navbar--responsive--menu
    display: flex
  .navbar
    justify-content: space-between
  .navbar--responsive--menu_button
    background-color: transparent
    border: none
    display: flex
    justify-content: space-between
  .navbar--responsive--menu_icon
    color: $black-color

  .navbar--login
    display: none

