<body>
<div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>New password</h2>
      </div>
      <form method="post" class="form">
        <label for="user-password"> New Password </label>
        <input
          id="user-email"
          class="form-content"
          type="password"
          name="password"
          autocomplete="on"
          required
        />
        <div class="form-border"></div>
        <label for="confirm-password" style="padding-top: 22px"> Confirm Password </label>
        <input
          id="confirm-password"
          class="form-content"
          type="password"
          name="confirm-password"
          required
        />
        <div class="form-border"></div>
        <input id="submit-btn" type="submit" name="submit" value="Confirm" />
      </form>
    </div>
  </div>
</body>