<body>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>New password</h2>
      </div>
      <form method="post" class="form">
        <label for="user-password"> New Password </label>
        <input id="user-email" class="form-content" type="password" name="password" autocomplete="on"
          [(ngModel)]="this.password" required />
        <div class="form-border"></div>
        <label for="confirm-password" style="padding-top: 22px"> Confirm Password </label>
        <input id="confirm-password" class="form-content" type="password" name="confirm-password"
          [(ngModel)]="this.passwordConfirmation" required />
        <div class="form-border"></div>
        <div *ngIf="!valid" class="error">
          <p>The passwords must be the same</p>
          <p>The password must be longer than 8 characters</p>
        </div>
        <button id="submit-btn" type="submit" name="submit" (click)="onSubmit()">Confirm</button>
      </form>
    </div>
  </div>
</body>
