@import "../../../shared/colors.sass"

.contact--container
  display: flex
  flex-direction: column
  gap: 2rem
  align-items: center
  justify-content: center
  width: 100%
  height: 80vh
  margin-bottom: 10vh

.contact--input--container
  display: flex
  flex-direction: column
  gap: 2.5rem
  align-items: center
  justify-content: center

.contact--title
  font-weight: 700
  font-size: 2rem
  line-height: 60px

.contact--input--container input
  width: 20rem
  height: 2.5rem
  border-radius: 12px
  padding-left: 1rem
  border: 0px

.contact--input--container a
  height: 50px
  width: 10rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-family: 'Poppins'
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 24px
  color: $black-font-color
  border-radius: 12px
  border: 0px
  background: rgba(255, 255, 255, 0.2)
  backdrop-filter: blur(70px)

.contact--input--container a:hover
  background-color:  rgba(255, 255, 255, 0.5)
  cursor: pointer



