@import "../../../shared/colors.sass"

.background--gradient
  z-index: -10
  position: absolute
  top: -15%
  left: -10%
  background-color: pink
  rotate: -8deg
  width: 150%
  height: 110vh

.home--container
  height: 90vh
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  gap: 2rem
  margin-bottom: 3rem

.home--title
  flex: 1

.home--placeholder
  flex: 1

.home--title_main
  font-size: 4rem
  font-weight: bold
  color: $white-color
  text-align: left
  margin-bottom: 1rem
  padding-right: 2rem

.home--title_subtitle
  font-size: 1rem
  font-weight: light
  color: $white-color
  text-align: left

.home--placeholder_img
  width: 100%
  min-width: 100px

