@import "../../../shared/colors.sass"

.background--layer_one
  z-index: -10
  position: absolute
  top: -25%
  left: -15%
  rotate: -5deg
  width: 150%
  min-width: 150%
  height: 110vh
  min-height: 120vh
  background: $main-linear-gradient
  filter: blur(25px)

.home--container
  height: 90vh
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  gap: 2rem
  margin-bottom: 3rem

.home--title
  flex: 1

.home--placeholder
  flex: 1

.home--title_main
  font-size: 4rem
  font-weight: bold
  color: $white-color
  text-align: left
  margin-bottom: 0
  padding-right: 2rem
  line-height: 3.5rem

.home--title_subtitle
  font-size: 1rem
  font-weight: light
  color: $white-color
  text-align: left

.home--placeholder_img
  width: 100%
  min-width: 100px
  max-width: 500px
  margin-left: auto
  margin-right: auto
  display: block

.home--trusted
  font-size: 0.5rem
  font-weight: bold
  color: $grey-color
  text-align: center
  margin-bottom: 4rem

.home--trusted_companies
  flex-direction: row
  gap: 1rem

.home--trusted_company
  color: $grey-color
  font-size: 1rem
  font-family: 'Roboto'
  font-weight: bold
  text-align: center

@media screen and (max-width: 768px)
  .home--container
    flex-direction: column
    padding-top: 10rem
  .home--placeholder
    display: none
  .home--title_main
    margin-bottom: 0
    font-size: 3rem
    line-height: 3.3rem
  .home--trusted
    padding-top: 2rem
