<canvas class="background--gradient"></canvas>
<app-navbar></app-navbar>
<div class="home--container">
  <div class="home--title">
    <h1 class="home--title_main">Find the best prices.</h1>
    <h6 class="home--title_subtitle">Food market price data</h6>
  </div>
  <div class="home--placeholder">
    <img class="home--placeholder_img" src="../../../assets/undraw_credit_card_re_blml.svg" alt="placeholder">
  </div>
</div>
<div class="home--trusted">
  <h1 class="home-trusted_title">Trusted by</h1>
  <div class="home--trusted_companies">
    <h6 class="home--trusted_company">NONE</h6>
  </div>
</div>
