@import "../../../shared/colors.sass"



.main-container
    z-index: 0
    margin-top:350px
    display: flex
    flex-direction: column
    align-items: center
    gap: 150px

.title
    display: flex
    flex-direction: column
    align-items: center
    gap: 68px

.data-container
    display: flex
    justify-items: center
    align-items: center
    gap: 150px

.data
    display: flex
    flex-direction: column
    align-items: center

.main-title
    color: $white-color
    font-weight: bold
    font-size: 40px
    
.sub-title
    font-size: 16px
    font-weight: bold 

.data-number
    color: $white-color
    font-weight: 600
    font-size: 40px

.data-description
    font-weight: bold
    font-size: 16px
    