<app-back-rectangle></app-back-rectangle>
<div class="main-container">
    <div class="title">
        <h1 class="main-title">Millions of data points, one API </h1>
        <h3 class="sub-title">Our AI-based scrapping technology allows our system to adapt to the changing internet environment and generate labeled data on the fly.</h3>
    </div>
    <div class="data-container">
        <div class="data">
          <span class="data-number">
            22.600
          </span>
          <span class="data-description">
            Brands
          </span>
        </div>
        <div class="data">
          <span class="data-number">
              132.000
            </span>
            <span class="data-description">
              Requests per second
            </span>
        </div>

        <div class="data">
          <span class="data-number">
              250
            </span>
            <span class="data-description">
              Available CDNs
            </span>
        </div>
        <div class="data">
          <span class="data-number">
              1.6 M
            </span>
            <span class="data-description">
              Data points
            </span>
        </div>
    </div>
</div>
