<app-back-rectangle></app-back-rectangle>
<div class="main-container">
    <div class="title">
        <h1 class="main-title">Data lake from grocery stores </h1>
        <h3 class="sub-title">Our scrapping technology provides you with all the pricing data in one place</h3>
    </div>
    <div class="data-container">
        <div class="data">
          <span class="data-number">
            2260
          </span>
          <span class="data-description">
            Satisfied Brands
          </span>
        </div>
        <div class="data">
            <span class="data-number">
                1324
              </span>
              <span class="data-description">
                Satisfied Clients
              </span>
        </div>
       
        <div class="data">
            <span class="data-number">
                3453
              </span>
              <span class="data-description">
                Sponsored
              </span>
        </div>
        <div class="data">
            <span class="data-number">
                9786
              </span>
              <span class="data-description">
                Completed
              </span>
        </div>
    </div>



</div>
