$yellow-color: #E9C46A
$grey-color: #C3D0D5
$white-color: #ffffff
$orange-color: #F4A261
$red-color:#E76F51
$black-color:#264653

$black-font-color: #264653

$main-linear-gradient: linear-gradient(-45deg, #E37777, #F2554C, #FEC458, #FEC957, #DB788D)
