<div id="pricing" class="pricing--container">
    <div class="title">
        <h1 class="main-title">Pricing plans</h1>
    </div>

    <div class="card-container">
        <div class="card">
            <div class="card-header hobby">
                <h3>Hobby</h3>
            </div>
            <div class="card-main">
                <p>All API functionality for free limited by data requested</p>
                <ul>
                    <li>Up to 10 Gb per month</li>
                    <li>No login required</li>
                </ul>
            </div>
            <div>
              <h1 class="card-main-price hobby">Free</h1>
            </div>
            <!-- <div class="card-footer yellow">
                <p>Get started today</p>
            </div> -->
        </div>
        <a href="#contact">
          <div class="card lift">
              <div class="card-header business">
                  <h3>Business</h3>
              </div>
              <div class="card-main">
                  <p>All API functionality and unlimited data</p>
                  <ul>
                      <li>Unlimited access to our data lake</li>
                      <li>Personal technical service</li>
                      <li>Physical data transport (only USA)</li>
                  </ul>
              </div>
              <div>
                <h1 class="card-main-price business">Contact us</h1>
              </div>
                <!-- <div class="card-footer grey">
                    <p>Contact us</p>
                </div> -->
            </div>
        </a>
    </div>
</div>
