<div id="pricing">
    <div class="title">
        <h1 class="main-title">Pricing plans</h1>
        <h3 class="sub-title">Every plan includes 30 day free trial</h3>
    </div>

    <div class="card-container">
        <div class="card">
            <div class="card-header hobby">
                <h3>Hobby</h3>
            </div>
            <div>
              <h1 class="card-main-price hobby">Free</h1>
            </div>
            <div class="card-main">
                <p>It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout. The point of using Lorem</p>
                <ul>
                    <li>it is a long established</li>
                </ul>
            </div>
            <div class="card-footer yellow">
                <p>Get started today</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header business">
                <h3>Business</h3>
            </div>
            <div>
              <h1 class="card-main-price business">Contact us</h1>
            </div>
            <div class="card-main">
                <p>It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout. The point of using Lorem</p>
                <ul>
                    <li>it is a long established</li>
                    <li>it is a long established</li>
                </ul>
            </div>
            <div class="card-footer grey">
                <p>Contact us</p>
            </div>
        </div>
    </div>
</div>
