@import "../../../shared/colors.sass"

.title
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 62px
    color: $blue-font-color

.main-title
    font-size: 2rem
    font-weight: bold

.sub-title
    font-size: 1rem
    text-decoration: underline

.card-container
    display: flex
    align-items: center
    justify-content: center
    gap: 2rem
    margin-bottom: 103px
    margin-top: 184px

.card
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 350px
    height: 565px
    box-shadow: 20px 25px 15px -6px rgba(0,0,0,0.1)

.card-header
    display: flex
    align-items: center
    gap: 2rem
    padding: 1rem
    font-size: 1rem
    font-weight: bold
    color: $blue-font-color

.card-main
    display: flex
    flex-direction: column
    align-items: center
    gap: 1rem
    padding: 1rem

.card-main-price
    font-size: 3rem
    font-weight: bold

.card-footer
    height: 70px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $grey-color
    color: $blue-font-color
    font-weight: 1rem

.card:hover
    cursor: pointer
    position: relative
    bottom: 50px
    box-shadow: 25px 30px 15px -6px $purple-color
    .card-footer
      background-color: $yellow-color






