@import "../../../shared/colors.sass"

.title
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 62px
    color: $blue-font-color

.main-title
    font-size: 40px
    font-weight: 700

.sub-title
    font-size: 16px
    text-decoration: underline

.card-container
    display: flex
    align-items: center
    justify-content: center
    gap: 26px
    margin-bottom: 103px
    margin-top: 184px


.card
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 350px
    height: 565px
    box-shadow: 20px 25px 15px -6px rgba(0,0,0,0.1)

.card-header
    display: flex
    align-items: center
    gap: 5px
    padding: 10px
    font-size: 30px
    font-weight: 700
    color: $blue-font-color

.card-main
    display: flex
    flex-direction: column
    align-items: center
    gap: 40px
    padding: 24px


.card-main-price
    font-size: 50px
    font-weight: 700



.card-footer
    height: 70px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $grey-color
    color: $blue-font-color
    font-weight: 700



.card:hover
    cursor: pointer
    position: relative
    bottom: 50px
    box-shadow: 25px 30px 15px -6px $purple-color
    .card-footer
      background-color: $yellow-color






