<div id="card">
  <div id="card-content">
    <div id="card-title">
      <h2>Login</h2>
    </div>
    <form #loginForm="ngForm" class="form" (ngSubmit)="onSubmit()">
      <label for="user-email"> Email </label>
      <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" [(ngModel)]="email"
        required />
      <div class="form-border"></div>
      <label for="user-password" style="padding-top: 22px"> Password </label>
      <input id="user-password" class="form-content" type="password" name="password" [(ngModel)]="password" required />
      <div class="form-border"></div>
      <div class="error">{{errorMessage}}</div>
      <button id="submit-btn" type="submit" name="submit">Submit</button>
      <a routerLink="/register" id="signup">Don't have account yet?</a>
      <a routerLink="/recover-password" id="signup">Forgot your password?</a>
    </form>
  </div>
</div>
