<app-back-rectangle></app-back-rectangle>
<div class="explanation-container">
    <span class="explanation-text">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit asperiores, ducimus exercitationem nulla tempora, earum voluptatum adipisci explicabo quasi molestias reprehenderit architecto ex saepe suscipit tempore doloribus possimus ut repudiandae odit! Rerum nisi nesciunt dicta ex eius porro quidem recusandae saepe consectetur, blanditiis doloremque voluptates quae officiis, vel, non minus. Corporis id iste velit enim aliquam ratione deleniti quasi impedit ipsum tenetur? In dolore omnis dolorem! Vero quam consequuntur minus eaque iusto vel, praesentium error nulla dolorem accusamus facilis! Ex, nisi ea. Optio, error quidem provident quia, tempora vero libero et natus quod deserunt sit, aliquam voluptate repudiandae praesentium porro saepe atque voluptatem dolores quisquam eaque. Facere nam ipsa quis minus delectus nostrum iste quos provident itaque accusamus, molestiae dignissimos.</p>
    </span>
    
    <img class="explanation-img" src="img/fff(1).png" alt="Img-explanation">
</div>
