<div id="card">
  <div id="card-content">
    <div id="card-title">
      <h2>Reset your password</h2>
    </div>
    <form method="post" class="form">
      <label for="user-email"> Email </label>
      <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" [(ngModel)]="this.email"
        required />
      <div class="form-border"></div>
      <p>
        We will send you an email to reset your password.<br>
      </p>
      <button id="submit-btn" type="submit" name="submit" (click)="onSubmit()">Send</button>
    </form>
  </div>
</div>
